.p-wrapper{margin: 0px; padding: 0px;}
.p-form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF !important;
  background-image: none !important;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-left: none !important;
  border-radius: 0px !important;
  border-left-color: #fff !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset !important;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
}



.p-roundedC{border-radius: 0px; }





